<div class="totp">
  <div class="donut">
    <p-chart
      type="doughnut"
      width="35"
      height="35"
      [data]="chartData"
      [options]="chartOptions"
      onDataSelect="() => undefined"
    ></p-chart>
  </div>
  <div class="details">
    <p>{{ title }}</p>
    <p class="secret">Secret: {{ totp?.secret }}</p>
  </div>
  <div class="code">{{ code }}</div>
  <div class="context">
    <button
      pButton
      type="button"
      class="p-button-rounded p-button-outlined p-button-text context-button"
      icon="pi pi-ellipsis-h"
      iconPos="left"
      #context
      (click)="openContext(cm, $event)"
    ></button>
  </div>
  <p-contextMenu #cm [appendTo]="'body'" [model]="totpContextMenu"></p-contextMenu>
</div>
