:host {
  width: 100%;
}

.totp {
  display: grid;
  grid-template-columns: 45px 4fr 1fr auto;
  width: 100%;
  border-bottom: 1px solid #e9ecef;

  .donut {
    display: grid;
    align-items: center;
    padding: 0.2em;
  }

  .details {
    overflow: hidden;
    padding: 0.2em;

    p {
      margin: 0.5em;
    }

    .secret {
      white-space: nowrap;
    }
  }

  .code {
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .context {
    display: grid;
    align-items: center;
    justify-content: center;

    .context-button {
      margin-right: 0.3em;
    }
  }
}
