<div class="background">
  <div class="content">
    <div class="panel">
      <div class="header">
        <h1 class="p-component title">{{ title }}</h1>
        <button
          *ngIf="!ssrService.isServerSide"
          pButton
          type="button"
          class="p-button-rounded p-button-outlined p-button-text context-button"
          icon="pi {{ headerButtonIcon }}"
          iconPos="left"
          #context
          [label]="headerButtonText"
          (click)="headerButton()"
        ></button>
      </div>
      <ng-scrollbar>
        <router-outlet></router-outlet>
      </ng-scrollbar>
    </div>
  </div>
</div>

<div *ngIf="!ssrService.isServerSide">
  <p-confirmDialog></p-confirmDialog>
</div>
