<div class="background">
  <div class="content">
    <div class="panel">
      <div class="header">
        <h1 class="p-component title">{{ title }}</h1>
        <button
          *ngIf="!ssrService.isServerSide"
          pButton
          type="button"
          class="
            p-button-rounded p-button-outlined p-button-text
            context-button
          "
          icon="pi {{ headerButtonIcon }}"
          iconPos="left"
          #context
          [label]="headerButtonText"
          (click)="headerButton()"
        ></button>
      </div>
      <ng-scrollbar>
        <router-outlet></router-outlet>
      </ng-scrollbar>

      <p-messages
        severity="info"
        [closable]="true"
        *ngIf="beforeInstallEvent && isMobile"
        class="pwa-message-container"
      >
        <ng-template pTemplate>
          <div class="pwa-message">
            <a href="#" (click)="pwaInstall()"
              >Click here to install as a PWA!</a
            >
            <button
              pButton
              type="button"
              icon="pi pi-times"
              class="p-button-sm p-button-rounded p-button-text"
              (click)="removePwaEvent()"
            ></button>
          </div>
        </ng-template>
      </p-messages>
    </div>
  </div>
</div>

<div class="pwa-install" *ngIf="beforeInstallEvent && !isMobile">
  <button
    pButton
    pRipple
    type="button"
    class="p-button-raised p-button-rounded"
    (click)="pwaInstall()"
  >
    Install as a PWA!
  </button>
</div>

<div *ngIf="!ssrService.isServerSide">
  <p-confirmDialog></p-confirmDialog>
</div>
