$blue: rgb(0, 162, 255);

.background {
  background-color: $blue;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  height: 70%;

  @media only screen and (max-width: 425px) {
    height: 100%;
  }
}

.panel {
  width: 45vw;
  max-width: 550px;
  min-width: 320px;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 768px) {
    width: 80vw;
  }

  @media only screen and (max-width: 425px) {
    width: 100vw;
    border-radius: 0;
  }
}

.header {
  background: #f8f9fa;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 1px solid #e9ecef;
  padding: 1em;

  @media only screen and (max-width: 425px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .title {
    font-weight: 600;
    color: #495057;
  }
}

.pwa-install {
  position: fixed;
  bottom: 15px;
  right: 15px;

  button {
    background-color: white;
    color: darken($blue, 20%);
  }
}

.pwa-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  a {
    flex-grow: 1;
    text-decoration: none;
    color: #044868;
  }
}
