<div class="totp p-component">
  <div class="donut">
    <circle-progress
      [percent]="percent"
      [animationDuration]="animationDuration"
      [startFromZero]="startFromZero"
    ></circle-progress>
  </div>
  <div class="details">
    <ng-content></ng-content>
  </div>
  <div class="code">{{ code }}</div>
  <div *ngIf="showContext">
    <div class="context">
      <button
        pButton
        type="button"
        class="p-button-rounded p-button-outlined p-button-text context-button"
        icon="pi pi-ellipsis-h"
        iconPos="left"
        #context
        (click)="openContext(cm, $event)"
      ></button>
    </div>
    <p-contextMenu #cm [appendTo]="'body'" [model]="totpContextMenu"></p-contextMenu>
  </div>
</div>
